.container {
	max-width: 1623px;
}

#navbarResponsive {
	margin-top: 1rem;
}

a {
	color: #328dcc;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
	background-image: none;
	background: -webkit-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: -o-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: -ms-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: -moz-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: linear-gradient(to left, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
}

.logo {
	width: 5%;
}



.bg-dark {
	background-color: #ffffff !important;
}

a.nav-link {
	margin-left: 62px !important;
}

.bg-primary {
	background-color: #fff!important;
}

.fa-1x {
	font-size: 2rem;
	}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color:#17af9c;
}

.navbar-collapse {
	flex-grow: 0 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-image: none;
	background: -webkit-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: -o-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: -ms-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: -moz-linear-gradient(right, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
	background: linear-gradient(to left, rgb(5, 182, 138) 0%, rgb(59, 162, 193) 99%, rgb(59, 162, 193) 100%);
}

.nav-pills .nav-link {
	border-radius: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #17af9c;
	background: #fff;
}



.bnner_container{
    max-width: 560px;
    margin:0 auto;
}



@media only screen and (max-device-width: 1283px) {
    a.nav-link {
		margin-left: 0px !important;
	}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	.logo {
		width: 8%;
	}
	a.nav-link {
		margin-left: 0px !important;
		line-height: 16px;
		font-size: 12px;
    }
    
	.nav-pills .nav-link {
		border-radius: 0rem;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show .nav-link {
		background-color: none !important;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		background-image: none;
		background: none !important
	}
	.nav-item {
		width: 100%;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		color: #328dcc;
	}
	.nav-link {
		padding: 0.5rem 0rem !important;
	}
}

@media screen and (max-width: 767px) {
	.logo {
		width: 16%;
	}
	a.nav-link {
		margin-left: 0px !important;
		line-height: 16px;
		font-size: 12px;
	}
	.nav-pills .nav-link {
		border-radius: 0rem;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show .nav-link {
		background-color: none !important;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		background-image: none;
		background: none !important
	}
	.nav-item {
		width: 100%;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		color: #328dcc;
	}
	.nav-link {
		padding: 0.5rem 0rem !important;
	}
}
